.signin{
    text-align: center;
  }
  
  .container{
    width: 60%;;
  }
  
  .signin-content{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 60px;
    box-shadow: 1px 1px 2px 2px #888888;
    border-radius: 10px;
    padding: 30px;
  }
  
  .signin-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-title{
    font-weight: 800;
    text-align: left;
  }
  
  .register-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signin-form input{
    width: 200px;
    border: 0;
    padding: 5px 10px;
  }
  
  .signin-form label{
    padding: 5px 10px;
  }
  
  .signin-form .form-group{
    border-bottom: 1px solid #000;
  }
  
  .signin-form .form-button{
    border: 0;
  }
  
  .signin-form .form-button input{
    background-color: #75bcff;
    color: #fff;
    font-weight: 800;
    border-radius: 5px;
  }
  
  .signin-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .signin-image img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  
  .signin-image-link{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    text-align: center;
  }
  
  /* @media only screen and (max-width: 900px) {
    .signin-content{
      grid-template-rows: auto;
    }
  } */
  
  @media only screen and (max-width: 900px) {
    .signin-content{
      grid-template-rows: auto;
    }
  }